* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: 12px auto;
    font-family: 'Courier New', Courier, monospace;
}

li {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

li > div {
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-size: 20px;
    text-align: center;
}

span {
    display: inline-block;
    vertical-align: top;
}

input[type="range"] {
    margin: 0 8px;
}

input[type="submit"],
input[type="reset"] {
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;

}

form > div {
    text-align: center;
}
